

.quotelist{
    margin-top: 15px;
    width: 98%;
    height: 2500px;
    background: var(--block-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    
    
    h1{
        padding: 15px 0 0 50px;
    }

    .quotelist-menu{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        border-radius: 15px;
        background: rgb(224, 224, 224);
        margin: 30px 0 10px 50px;
        height: 50px;

        .quotelist-menu-item{
            position: relative;
            font-size: 20px;
            display: flex;
            cursor: pointer;

            span{
                position: relative;
                font-size: 20px;
                z-index: 100;
            }
        }

        
    }

    .quotelist-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
}

.active-item{
    position: absolute;
    z-index: 1;
    top: -11px;
    left: -15px;
    border-radius: 15px;
    background-color: #0010ED;
    height: 50px;
    width: calc(100% + 30px);
}



