.quote {
  background: transparent;
  width: 800px;
  height: 200px;
  display: flex;
  flex-shrink: 0;
  margin: 5px;
  align-items: center;
  flex-direction: row;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;
    height: 150px;

    &__text {
      font-size: 24px;
    }

    &__source {
      padding: 20px 0 10px 0;
      color: var(--action-color);
      text-decoration: underline 1px;
    }

    &__actions {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      width: 90%;
      text-align: center;
      &-tags {
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;
          color: #2f3bdf;
          border-radius: 10px;
          padding: 5px;
          border: #2f3bdf 2px solid;
        }
      }
    }
  }
}
