.navbar {
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.navbar-container {
  background: white;
  height: 60px;
  width: 100%;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    padding-left: 20px;
  }

  .navbar-links{
    width: 500px;
    display: flex;
    justify-content: space-evenly;

    span{
        color: black;
    }
  }
  
  .navbar-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    justify-content: space-between;

    .navbar-search{
      display: flex;
      border-radius: 10px;
      background: rgb(211, 210, 210);
      padding: 7px;
      
      input{
        padding: 4px;
        outline: none;
        border: none;
        border-radius: 0 15px 15px 0;
        background: rgb(211, 210, 210);
      }
    }

    .navbar-btn{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  }
}
