

.login{
    width: 300px;
    height: 400px;
    background: var(--main-block-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 90%;
        height: 70%;
    }

    .login-input{
        display: flex;
        align-items: center;
        border-radius: 10px;
        background: var(--primary-block-color);
        padding: 7px;

      .login-input_icon{
        color: var(--action-primary-color);
      }

      input {
        margin-left: 10px;
        padding: 5px;
        outline: none;
        border: none;
        border-radius: 0 15px 15px 0;
        background: transparent;

        &::placeholder{
          margin-left: 15px;
        }
      }

      
    }
}