@import url("./components/Navbar/Navbar.scss");
@import url("./components/Button/Button.scss");
@import url("./components/Aside/Aside.scss");
@import url("./components/DayQuote/DayQuote.scss");
@import url("./components/QuoteList/QuoteList.scss");
@import url("./components/Quote/Quote.scss");
@import url("./pages/Home/Home.scss");

///
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #D8D8E4;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
///
