// Import components style
@import url("./components/Navbar/Navbar.scss");
@import url("./components/Button/Button.scss");
@import url("./components/Aside/Aside.scss");
@import url("./components/DayQuote/DayQuote.scss");
@import url("./components/QuoteList/QuoteList.scss");
@import url("./components/ThemeToggler/ThemeToggler.scss");
@import url("./components/Quote/Quote.scss");
@import url("./components/Footer/Footer.scss");
@import url("./components/Login/Login.scss");
@import url("./components/Registration/Registration.scss");
@import url("./components/MobileNavbar/MobileNavbar.scss");

// Import pages style
@import url("./pages/Home/Home.scss");
@import url("./pages/Auth/Auth.scss");
@import url("./pages/Category/Category.scss");
@import url("./pages/RandomQuote/RandomQuote.scss");

// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
// Theme colors
html[data-theme="dark"] {
  --bg-color: #fafafa;
  --main-text-color: black;
  --primary-text-color: black;
  --main-block-color: #E8EDE7;
  --primary-block-color: #eeeeee;
  --action-color: #0047AB;
  --action-primary-color: #0010ED;
  --action-text-color: #0010ED;
}

html[data-theme="light"] {
  --bg-color: #E7EAEE;
  --main-text-color: black;
  --primary-text-color: black;
  --main-block-color: #FCF7F8;
  --primary-block-color: #E7EAEE;
  --action-color: #0010ED;
  --action-primary-color: #ABA9C3;
  --action-text-color: #0010ED;
}
